<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        
        <title> Modify Complaint - {{complaint.complaint_id}} </title>


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modify_complaint.css') }}"> 
    </head>
    <body>
        <div>
            <h1> CRM </h1> 
        </div>

        <div>
            <form method="POST" action="{{ url_for('modify_complaint', complaint_id=complaint.complaint_id) }}">
                <h2 style="text-align: center; margin-top: 0px; margin-bottom: 5px;"> Modify Complaint </h2>
                <h4 style="text-align: center; margin-top: 0px;"> {{complaint.complaint_id}} </h4>

                <div>
                    <label for="cust_name"> Customer Name: </label>
                    <input type="text" name="customer_name" id="cust_name" value="{{complaint.customer_name}}" required/>
                </div>
                <br>
                
                <div>
                    <label for="phone"> Mobile Number: </label>
                    <input type="tel" pattern="[1-9][\d]{9}" name="phone_number" id="phone" value="{{complaint.phone_number}}" placeholder="10 digit Mobile number" required/>
                </div>
                <br>

                <div>
                    <label for="addr"> Address: </label>
                    <input type="text" name="address" id="addr" value="{{complaint.address}}" required/>
                </div>
                <br>

                <div>
                    <label> Status: </label>
                    <label>
                        <input type="radio" name="status" value="OPEN" {% if complaint.status == 'OPEN' %}checked{% endif %}/>
                        OPEN
                    </label>
                    <label>
                        <input type="radio" name="status" value="CLOSED" {% if complaint.status == 'CLOSED' %}checked{% endif %}/>
                        CLOSED
                    </label>
                </div>
                <br>

                <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px">
                    <input type="submit" value="Update"/>
                    <input type="reset" value="Reset Fields"/>    
                </div>

                <div style="text-align: center;">
                    <a href="{{ url_for('dash') }}"> Go to dashboard </a>
                </div>
                
            </form>
        </div>
    </body>
</html>